.footer {
  color: var(--white);
  background-color: var(--primary-darker);
  position: relative;
  z-index: 20;
  @include section-container;
  padding-bottom: 2rem;
  div {
    h2 {
      text-align: center;
      font-family: Montserrat, sans-serif;
      font-weight: 300;
    }
  }
}

body::after {
  content: "";
  background: var(--primary-darker);
  height: 100px;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -26px;
}
