.presentation {
  @include section-container;
  @include diagonal-right-desc;
  @include diagonal-right-asc;
  background-image: linear-gradient(
      var(--primary-transparent),
      var(--primary-transparent)
    ),
    url("../assets/imgs/eco.jpg");
  background-size: cover;
  background-position: center;
  padding: 8rem 0 6rem 0;

  .presentation-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    .presentation-motivational {
      color: var(--white);
      font-size: 3.5rem;
      font-weight: 300;
    }
    button {
      background-color: var(--secondary);
      border: none;
      font-family: inherit;
      color: var(--white);
      padding: 1rem;
      font-size: 2rem;
      cursor: pointer;
      margin-top: 2rem;
      box-shadow: var(--shadow);
    }
  }
}
