.skills {
  background-color: var(--white);
  background-image: url("../assets/imgs/debut-light.png");
  transform-origin: top right;
  z-index: 1;
  @include section-container;
  padding-bottom: 0;
  .skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: var(--primary);
  }
  .section-title {
    margin-bottom: 4rem;
    span {
      color: var(--white);
      background-color: var(--secondary);
      padding: 0 0.5rem;
      box-shadow: var(--shadow);
    }
  }
  .skills-skill {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    &:nth-of-type(2) {
      .skills-skill__block {
        align-self: flex-start;
      }
    }
    .skills-skill__block {
      &:nth-of-type(2) {
        div {
          order: 1;
        }
      }
      display: inline-flex;
      align-self: flex-end;
      padding: 0 1rem;
      justify-content: center;
      align-items: center;
      background: var(--primary);
      color: var(--white);
      margin-bottom: 2rem;
      h3 {
        padding: 1rem;
        font-size: 2rem;
        font-weight: normal;
      }
    }
    .skills-skill__details {
      font-size: 1.5rem;
    }
  }
}
