:root {
  --primary: #2e4a5f;
  --primary-transparent: #2e4a5fd7;
  --primary-darker: #233848;
  --secondary: #c65f5f;
  --white: #fbfdff;
  --black-transparent: #0610189d;
  --shadow: 2px 2px 2px 2px var(--black-transparent);
  --background-url: url("../assets/imgs/debut-light.png");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--white);
  background-image: var(--background-url);
  position: relative;
  overflow-x: hidden;
}

.section-title {
  font-family: "Open Sans";
  font-size: 3.5rem;
}

@mixin section-container {
  position: relative;
  padding: 3rem 0;
}
@mixin diagonal-right-desc {
  &::before {
    content: "";
    background-color: var(--white);
    background-image: var(--background-url);
    position: absolute;
    top: 0;
    right: 0;
    width: 200%;
    transform: rotate(5deg);
    transform-origin: bottom right;
    height: 100px;
  }
}
@mixin diagonal-right-asc {
  &::after {
    content: "";
    background-color: var(--white);
    background-image: var(--background-url);
    position: absolute;
    bottom: 0;
    left: -1rem;
    width: 200%;
    transform: rotate(-5deg) translate(0, 100%);
    transform-origin: left;
    height: 100px;
  }
}

@import "nav";
@import "header";
@import "presentation";
@import "skills";
@import "aboutme";
@import "footer";
