:root {
  --primary: #2e4a5f;
  --primary-transparent: #2e4a5fd7;
  --primary-darker: #233848;
  --secondary: #c65f5f;
  --white: #fbfdff;
  --black-transparent: #0610189d;
  --shadow: 2px 2px 2px 2px var(--black-transparent);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--white);
  background-image: url("../assets/imgs/debut-light.png");
  position: relative;
}

.section-title {
  font-family: "Open Sans";
  font-size: 3.5rem;
}

.hamburger-icon {
  position: fixed;
  top: 2rem;
  right: 1rem;
  height: 1.5rem;
  width: 8vw;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 50px;
}
.hamburger-icon div {
  margin-bottom: 8px;
  border: 1.5px solid var(--secondary);
  text-align: right;
}
.hamburger-icon div:nth-child(1) {
  flex-basis: 100%;
}
.hamburger-icon div:nth-child(2) {
  flex-basis: 50%;
}
.hamburger-icon div:nth-child(3) {
  flex-basis: 70%;
}

.header {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-presentation {
  width: 100%;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}
.header-presentation h1 {
  font-weight: 300;
  color: var(--primary);
  flex: 100%;
  padding: 0 2rem;
  margin: 0.4rem 0;
}
.header-presentation .header-presentation__greet {
  font-size: 3.75rem;
}
.header-presentation .header-presentation__greet span {
  color: var(--secondary);
}
.header-presentation .header-presentation__name {
  font-size: 2.5rem;
  text-align: center;
}
.header-presentation .header-presentation__profession {
  font-size: 2.2rem;
  text-align: right;
}

.header-avatar {
  margin-top: 4rem;
}
.header-avatar .header-avatar__circle {
  border: 1px solid var(--primary);
  border-radius: 100%;
  width: 30vw;
  height: 30vw;
  max-width: 170px;
  max-height: 170px;
  overflow: hidden;
}
.header-avatar .header-avatar__circle img {
  object-fit: cover;
  width: 100%;
}

.presentation {
  position: relative;
  background-image: linear-gradient(var(--primary-transparent), var(--primary-transparent)), url("../assets/imgs/eco.jpg");
  background-size: cover;
  background-position: center;
  padding: 4rem 1rem 10rem 1rem;
  transform: skew(0deg, -5deg);
}
.presentation .presentation-content {
  transform: skew(0deg, 5deg);
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.presentation .presentation-content .presentation-motivational {
  color: var(--white);
  font-size: 3.5rem;
  font-weight: 300;
}
.presentation .presentation-content button {
  background-color: var(--secondary);
  border: none;
  font-family: inherit;
  color: var(--white);
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 2rem;
  box-shadow: var(--shadow);
}

.skills {
  background-color: var(--white);
  background-image: url("../assets/imgs/debut-light.png");
  transform-origin: top right;
  z-index: 1;
  padding: 4rem 0 8rem 0;
  transform: skew(0deg, 5deg);
  margin-top: -4rem;
}
.skills > div {
  transform: skew(0deg, -5deg);
}
.skills .skills-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: var(--primary);
}
.skills .section-title {
  margin-bottom: 4rem;
}
.skills .section-title span {
  color: var(--white);
  background-color: var(--secondary);
  padding: 0 0.5rem;
  box-shadow: var(--shadow);
}
.skills .skills-skill {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.skills .skills-skill:nth-of-type(2) .skills-skill__block {
  align-self: flex-start;
}
.skills .skills-skill .skills-skill__block {
  display: inline-flex;
  align-self: flex-end;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--white);
  margin-bottom: 2rem;
}
.skills .skills-skill .skills-skill__block:nth-of-type(2) div {
  order: 1;
}
.skills .skills-skill .skills-skill__block h3 {
  padding: 1rem;
  font-size: 2rem;
  font-weight: normal;
}
.skills .skills-skill .skills-skill__details {
  font-size: 1.5rem;
}

.about-me {
  transform: skew(0deg, -5deg);
  background: var(--primary);
  padding: 4rem 0 8rem 0;
  transform: skew(0deg, 5deg);
  margin-top: -4rem;
  padding-bottom: 0rem;
}
.about-me > div {
  transform: skew(0deg, -5deg);
}
.about-me .about-me-content {
  font-family: "Open Sans", sans-serif;
  padding: 1rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-me .about-me-content .about-me__profile-image {
  text-align: center;
  margin-bottom: 2rem;
}
.about-me .about-me-content .about-me__profile-image img {
  box-shadow: var(--shadow);
  max-width: 70%;
}
.about-me .section-title {
  color: var(--white);
  margin-bottom: 2rem;
}
.about-me .section-title span {
  background-color: var(--secondary);
  padding: 0 0.5rem;
  box-shadow: var(--shadow);
}
.about-me .about-me__profile-about {
  text-align: center;
  padding: 0 2rem;
  font-size: 1.3rem;
  margin: 0.5rem;
}
.about-me .about-me__profile-about:last-of-type {
  margin-bottom: 2rem;
}
.about-me .about-me__profile__contact {
  font-family: Montserrat, sans-serif;
  background: var(--secondary);
  margin: 0.5rem;
  font-weight: 300;
  font-size: 1.125rem;
  box-shadow: var(--shadow);
  padding: 0.3rem 0.5rem;
}
.about-me .about-me__profile-social-networks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-me .about-me__profile-social-networks div {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.about-me .about-me__profile-social-networks div span {
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}
.about-me .about-me__profile-social-networks div img {
  width: 2.5rem;
  height: 2.5rem;
}

.footer {
  color: var(--white);
  background-color: var(--primary-darker);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  padding: 7rem 2rem 2rem 2rem;
  margin-top: -5rem;
}
.footer div h2 {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

/*# sourceMappingURL=styles.css.map */
